body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h1, h2 {
  /* text-align: center; */
  color: #333;
}

h2 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="number"], select {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f9;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

th {
  background-color: #007BFF;
  color: #fff;
}

p.valid {
  color: green;
  font-weight: bold;
}

p.invalid {
  color: red;
  font-weight: bold;
}

#training-data-select {
  width: 660px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  h1, h2 {
    font-size: 18px;
  }
  
  input[type="number"], select, button {
    font-size: 12px;
  }
  
  th, td {
    padding: 8px;
    font-size: 12px;
  }
}